@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    background-color: #94D9FF;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.array-container {
    text-align: center;
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

        
.array-bars {
    width: 100px;  /* array bars width more is better as it will autoshrink*/
    margin: 1.5px;
    margin-top: 0px;
}

		
header {
  background: repeating-linear-gradient(45deg, #ffffff, #ffcdcd71 20px, #fafafa 20px, #f1f1f1 40px);
  box-shadow: 0 4px 6px rgba(0,0,0,.2);
}
.container {
  padding: 0 60px 0 20px;
  margin: 0 auto;
}
nav {
  overflow: hidden;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
nav li {
  display: inline-block;
  margin-left: 10px;
  height: 50px;
  line-height: 50px;
  transition: 1s linear;
}
nav a {
  text-decoration: none;
  display: block;
  position: relative;
  color: #203b5a;

}
nav a:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 10px;
  background: #868686;
  transition: width .5s linear;
}
nav a:hover:after {width: 100%;}

h3 {
    font-family: 'Montserrat';
    font-size: 20px;
    margin: 15px 370px 0px 10px;
    color: Black;
    float: left;
    font-weight: 950;
}
h4 {
  font-family: 'Montserrat';
  font-size: 20px;
  margin: 15px 370px 0px 10px;
  color: Black;
  float: left;
  font-weight: 550;
}
